---
title: Load test failure!
assignees: dsanchor
labels: bug
---
A load test failure has occurred. Please access the Azure Load Test portal to learn more about this latest run.