---
name: CI/CD Issue
about: load test failure is preventing CI/CD
title: Load test failure
assignees: rag2111
labels: bug
---
A load test failure has occurred. Please access the Azure Load Test portal to learn more about this latest run.
